[submodule "Deps/spdlog"]
	path = Deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Deps/json"]
	path = Deps/json
	url = https://github.com/nlohmann/json.git
	branch = develop
